* {
  --border-radius-size: 15px;
  --max-width-size: 90vw;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #edefee;
  font-family: "Markazi Text", serif;
}

.header-logo {
  display: block;
  text-align: center;
  margin: 50px auto;
  padding-left: 50px;
  padding-right: 50px;
}

.nav-round-banner {
  max-width: var(--max-width-size);
  background-color: #333333;
  margin: 0px auto;
  border-radius: var(--border-radius-size);
}

.nav-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-left: 0px;
}

ul a {
  display: block;
  font-size: 30px;
  margin: 10px 0px;
}

ul a:hover {
  transform: scale(1.05);
  transition: 0.1s;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: white;
}

.promotion {
  max-width: var(--max-width-size);
  margin: 50px auto 0px auto;
  background-color: lightpink;
  border-radius: var(--border-radius-size);
  background-image: url("https://t4.ftcdn.net/jpg/02/44/66/75/360_F_244667578_wXh8Dz4mocTFSRPFWG76eMa4PWkMdD2P.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.promotion:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

.promotion h1 {
  padding: 35px 0px 5px 30px;
  color: white;
  font-size: 50px;
  margin: 0px;
}

.promotion p {
  max-width: 30vw;
  padding: 0px 0px 20px 30px;
  font-size: 20px;
  color: white;
}

.info-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  max-width: var(--max-width-size);
  margin: 60px auto;
}

.info-card-flex-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f4e5d6;
  border-radius: var(--border-radius-size);
  padding: 30px;
  font-size: 20px;
}

.info-card-flex-container:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

article h2 {
  font-size: 45px;
  margin: 0px;
  margin-bottom: 30px;
}

article img {
  border-radius: 2px;
}

#about ul {
  margin: 0px;
}

.footer-flex-container {
  max-width: var(--max-width-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  margin-bottom: 50px;
}

.footer-left {
  display: inline-block;
  max-width: 45px;
  min-height: 75px;
  padding-left: 10px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.footer-right div {
  font-size: 20px;
  font-weight: bold;
  align-self: flex-end;
  color: #495e57;
}

hr {
  background: #495e57;
  font-size: 1.5em;
  height: 2px;
  width: 500px;
}

@media (max-width: 600px) {
  .nav-round-banner a {
    font-size: 20px;
  }

  .header-logo {
    max-width: 300px;
    height: 80px;
  }

  hr {
    display: none;
  }
}
